<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Leadtools.Formats.Raster.Common" version="22.0.0.8" targetFramework="net40" />
  <package id="Leadtools.Kernel" version="22.0.0.8" targetFramework="net40" />
  <package id="Leadtools.Twain" version="22.0.0.8" targetFramework="net40" />
</packages>